extends layout.pug

block content 
  .wrapper
    h1= title
    .page-header
      p
        a.button(href='/books/new') Create New Book
    .book-list
      table
        thead
          tr.table-headers
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in books
            tr.book-item
              td
                a(href=`/books/${book.id}`)= book.title
              td= book.author
              td= book.genre
              td= book.year